<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Chat</title>
    <link rel="stylesheet" href="{% static 'css/mainPageStyle.css' %}">


</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="search-bar">
                <input type="text"  placeholder="Search">
            </div>
           
        </aside>
        <main class="chat-window">
            <header class="chat-header">
                <h2>Design Chat</h2>
                <div>
                    <span>Users Online: <span id="user-count">0</span></span>
                </div>
                
            </header>
            <div class="chat-messages">

                {% for i in messages %}
                            {% if i.sender.username != user %}
                                <div class="message recei" data-message-id="{{ i.id }}">
                                    {% if i.parent_message %}
                                        <blockquote>{{ i.parent_message.message }} - {{ i.parent_message.sender }}</blockquote>
                                    {% endif %}

                                    <div class="message-content">
                                        <p><span class="receiver">{{ i.sender }}</span><br>{{ i.message }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="message received" data-message-id="{{ i.id }}">
                                    {% if i.parent_message %}
                                        <blockquote>{{ i.parent_message.message }} - {{ i.parent_message.sender }}</blockquote>
                                    {% endif %}
                                    <div class="message-content">
                                        <p><span class="sender">{{ i.sender }}</span><br>{{ i.message }}</p>
                                    </div>
                                </div>
                            {% endif %}
                {% endfor %}



            </div>
            <form action="" id="message-form" method="POST">
                {% csrf_token %}
                <div id="replying-to" style="display: none;">
                    <strong>Replying to:</strong>
                    <p id="reply-message"></p>
                </div>
            <div class="message-input">
                <input type="hidden" id="reply-to-id" name="reply_to_id">

                <i class="bi bi-search"></i><input id="msg" type="text" placeholder="Your message">
                <button class="submit" type="submit">Send</button>
            </div>
        </form>    
        </main>

            {% comment %} <input type="hidden" id="reply-to-id" name="reply_to_id">
            <textarea id="msg" cols="30" name="message" rows="10" placeholder="Enter your message" required></textarea> {% endcomment %}
        {% comment %} <button id="logout" class="logout-button">Logout</button> {% endcomment %}


        <aside class="profile-sidebar">
            <div class="profile-card">
                <div class="info">
                    <h2>Profile</h2>
                    {% comment %} <img src="./img/pic1 (1).png" alt="Avatar"> {% endcomment %}
                    <div class="name">
                    <label>Name:</label>
                    <span style="margin-left:10px;">{{user}}</span><br>
                    </div>
                    <div class="about">
                    <label>About:</label>
                    <span style="margin-left: 10px;">Lorem ipsum dolor sit</span><br>
                    </div>
                    <div class="phno">
                    <label>phno:</label>
                    <span  style="margin-left: 10px;">91+ 9658247135</span>
                    </div>
                    <!-- <p>Admin</p> -->
                </div>
            </div>
    
            {% comment %} <div class="online-list">
                <div class="list-card">
                <h3 style="margin-bottom:8px;">Online</h3>
                <div class="online-item">
                    <img src="./img/pic1 (1).png" alt="Avatar">
                    <p>Alex</p>
                    <p style=" font-size: 10px; font-weight: 700;">Admin</p>
                </div>
                <div class="online-item">
                    <img src="./img/pic1 (1).png" alt="Avatar">
                    <p>Alex</p>
                </div>
                <div class="online-item">
                    <img src="./img/pic1 (1).png" alt="Avatar">
                    <p>Alex</p>
                </div>
                <div class="online-item">
                    <img src="./img/pic1 (1).png" alt="Avatar">
                    <p>Alex</p>
                </div>
                <div class="online-item">
                    <img src="./img/pic1 (1).png" alt="Avatar">
                    <p>Alex</p>
                </div>
                </div>
            </div> {% endcomment %}
        </aside>
    </div>
</body>
<script>
  
    const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
    const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification/{{ room_name }}/`;
    const socket = new WebSocket(wsEndpoint);



    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.user_count !== undefined) {
            // Update the UI with the current user count
            document.getElementById('user-count').innerText = data.user_count;
            console.log("hello")
        } else if (data.message) {
            // Handle chat messages
        }
    };

document.getElementById('message-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const message = document.getElementById('msg').value;
    const sender = "{{ user }}";
    const replyToId = document.getElementById('reply-to-id').value;

    socket.send(
        JSON.stringify({
            'message': message,
            'room_name': '{{ room_name }}',
            'sender': sender,
            'reply_to_id': replyToId
        })
    );
});

socket.addEventListener("message", (event) => {
    const messageData = JSON.parse(event.data)['message'];

    const sender = messageData['sender'];
    const message = messageData['message'];
    const timestamp = new Date(messageData['timestamp']).toLocaleString();
    const replyMessage = messageData['parent_message'] ? messageData['parent_message'].message : null;
    const replySender = messageData['parent_message'] ? messageData['parent_message'].sender : null;

    if (sender === "{{ user }}") {
        document.getElementById('msg').value = '';
    }

    const chatMessages = document.querySelector('.chat-messages');
    const newMessageHtml = `
        <div class="message ${sender !== "{{ user }}" ? 'recei' : 'received'}" data-message-id="${messageData['id']}">
            ${replyMessage ? `<blockquote>${replyMessage} - ${replySender}</blockquote>` : ''}
            <div class="message-content">
                <p><span class="${sender !== "{{ user }}" ? 'receiver' : 'sender'}">${sender}</span><br>${message}</p>
            </div>
            
        </div>
    `;

    chatMessages.insertAdjacentHTML('beforeend', newMessageHtml);

    {% comment %} scrollToBottom(); {% endcomment %}

    document.querySelectorAll('.message.recei, .message.received').forEach(function(element) {
        element.addEventListener('dblclick', function() {
            const messageId = this.getAttribute('data-message-id');
            const messageContent = this.querySelector('.message-content p').textContent;

            replyToIdInput.value = messageId;
            document.getElementById('reply-message').textContent = messageContent;
            replyingToDiv.style.display = 'block';
        });
    });
});

socket.addEventListener("close", (event) => {
    console.error("Chat socket closed unexpectedly");
});

socket.addEventListener("error", (event) => {
    console.error("WebSocket error:", event);
});

</script>
</html>
